/* Main CSS to be referenced */

body {
	background-color:#FFFFFF
	
	}
div#topbar { 
	width:100%;
	height:20%;
	
	}
div#body {
	width:100%;
	height:70%;
	}
div#bottombar {
	width:100%;
	height:10%;
	}
div#linkbar {
	
	}